*{
  margin: 0;
  padding: 0;
}
.loader{
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disppear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
